BASE_URL=https://practicesoftwaretesting.com
API_BASE_URL=https://api.practicesoftwaretesting.com
LOG_LEVEL=info
USERNAME=
PASSWORD=
USER_ID=
GRAFANA_PROM_URL=
GRAFANA_USER=
GRAFANA_API_KEY=
GRAFANA_LOKI_USER=
GRAFANA_LOKI_URL=